* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    background: linear-gradient(to bottom, rgb(56, 19, 223), violet);
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
.glass {
    background: white;
    background: linear-gradient(to right bottom, rgb(17, 3, 100), rgb(121, 2, 233));
    min-height: 80vh;
    width: 60%;
    z-index: 20;
}
.para {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-top: 4rem;
}
h1 {
    font-size: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bolder;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bolder;

}
.logo{
    margin-top: 1rem;
    margin-left: 1rem;
}
.pc{
    display: flex;
    flex-direction: row;
}
.comp {
    width: 35%;
    margin-left: 2rem;
}
nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans;
    font-weight: bold;
    color: white;
    margin-top: 2rem;
    margin-left: 12rem;
}
.arrange {
    display: flex;
    flex-direction: row;
}
.swipe {
    margin-left: 9rem;
}
a:hover{
    color: aqua;
}
.swipe:hover{
    color: bisque;
}
